<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8"/>
    <title>{{Title}} - 4 Code Reading</title>
    <meta name="description" content="{{description|This site for Code Reading.}}"/>
    <meta name="Keywords" content="JavaScript,Code Reading,{{keywords}}"/>
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="1800"/>
    <link rel="alternate" type="application/rss+xml" title="RSS" href="http://rssc.dokoda.jp/r/3b1a6b870a1b22c04257dbc6af5573e8/http/sig.droppages.com/sitemap" />

    <!-- The 1140px Grid -->
    <link rel="stylesheet" href="/css/1140.css" type="text/css" media="screen"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen"/>
    <![endif]-->

    <!-- Type and image presets - NOT ESSENTIAL -->
    <link rel="stylesheet" href="/css/typeimg.css" type="text/css" media="screen"/>
    <!-- Make minor type adjustments for 1024 monitors -->
    <link rel="stylesheet" href="/css/smallerscreen.css" media="only screen and (max-width: 1023px)"/>
    <!-- Resets grid for mobile -->
    <link rel="stylesheet" href="/css/mobile.css" media="handheld, only screen and (max-width: 767px)"/>
    <!-- Put your layout here -->
    <link rel="stylesheet" href="/css/layout.css" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/highlight/styles/default.css">
    <script src="/highlight/highlight.pack.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/jquery-1.6.min.js" type="text/javascript"></script>
    <script src="/js/extoc_1_0.js" type="text/javascript"></script>
    <script type="text/javascript">

        var locationWrapper = {
            put: function(hash, win) {
                (win || window).location.hash = this.encoder(hash);
            },
            get: function(win) {
                var hash = ((win || window).location.hash).replace(/^#/, '');
                try {
                    return $.browser.mozilla ? hash : decodeURIComponent(hash);
                }
                catch (error) {
                    return hash;
                }
            },
            encoder: encodeURIComponent
        };
        jQuery(function($) {
            // シンタックスハイライト
            hljs.initHighlightingOnLoad('xml', 'html', 'css', 'javascript');
            // 目次生成
            $('#aside > .nav-toc').exTOC({
                contents: "#content .article",
                headFrom : 2,
                headTo : 5,
                numbering : false,
                link:true,
                smooth:false,
                insertMethod : 'after'
            });
            // Hashが合ったらその位置までスクロールする
            var hash = locationWrapper.get();
            if (hash) {
                var scrollToElement = $("#" + hash);
                window.scrollTo(0, Math.round(scrollToElement.offset().top))
            }
        });
    </script>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-2184335-10']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>

<body>

<div class="container">
    <div id="header" class="row">
        <div class="sevencol">
            <a class="logo" href="/">4 Code Reading</a>
        </div>
        <div class="fivecol last">
            <p>
                <a href="/sitemap">Sitemap</a>
                <a href="http://rssc.dokoda.jp/r/3b1a6b870a1b22c04257dbc6af5573e8/http/sig.droppages.com/sitemap">
                    <img class="rss" src="/image/feed-icon-28x28.png" alt="RSS feed"/>
                </a>
            </p>
        </div>
    </div>
    <div id="nav" class="row">
        <div class="twelvecol">
            {{PrimaryNavigation}}
            <form action="http://www.google.com/cse" id="cse-search-box">
                <div>
                    <input type="hidden" name="cx" value="001425770589114243105:jqs4qepfkiy"/>
                    <input type="hidden" name="ie" value="UTF-8"/>
                    <input type="text" name="q" size="31"/>
                    <input type="submit" name="sa" value="検索"/>
                </div>
            </form>
            <script type="text/javascript" src="//www.google.com/cse/brand?form=cse-search-box&lang=ja"></script>
        </div>
    </div>
    {{Body}}
    <div id="footer" class="row">
        <div class="fourcol">
            <h3>Writer</h3>
            <ul>
                <li><img src="http://api.twitter.com/1/users/profile_image/azu_re.json"/></li>
                <li>Name : azu</li>
                <li>Favorite language : JavaScript</li>

            </ul>

        </div>
        <div class="fourcol">
            <h3>Links</h3>
            <ul>
                <li>@<a href="https://twitter.com/azu_re">azu_re</a> on Twitter</li>
                <li><a href="http://efcl.info/">Web scratch</a></li>
                <li><a href="http://efcl.info/adiary/">prog*sig</a></li>
                <li><a href="http://jser.info/">JSer.info</a></li>
                <li><a href="https://github.com/azu/4-Code-Reading">azu/4-Code-Reading - GitHub</a></li>
            </ul>

        </div>
    </div>
</div>

</body>
</html>